
.container {
    border-radius: 20px;
    background-color: rgba(42, 67, 79, 0.8);
    color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 0% 3% 2%;
}

h1 {
    color: antiquewhite;
    font-family: 'monospace';
    text-align: center;
    margin-bottom: 20px;
}

label, input, select, [type="number"] {
    margin-bottom: 15px;
}

input, select, [type="number"] {
    border: 3px solid #0088ff;
    border-radius: 10px;
    background-color: aqua;
    color: #090909;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input:hover {
    background-color: dodgerblue;
    color: white;
}

input[type="email"] {
    background-color: indianred;
}

option[selected] {
    color: green;
}

input[type="text"]::placeholder {
    color: green;
}

input:invalid {
    background-color: indianred;
}

hr {
    border: 0.5px solid beige;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}